body {
  background-image: url("../assets/images/backgrounds/selectPage.png");
  background-size: cover;
  overflow-y: hidden;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.selections {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.5fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 50vw;
  animation-name: slideFromBottom;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.selections h1 {
  grid-column: 1 / span 2;
  grid-row: 1;
  font-family: var(--mainFont);
  font-size: 2rem;
  color: var(--blue);
  text-align: center;
}

@media (max-width: 850px) {
  .selections {
    grid-template-columns: 1fr;
  }
  .selections h1 {
    grid-column: 1;
  }
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 40vw;
  height: 20vh;
  padding: 20px 30px;
  position: relative;
  transform: translateY(0px);
  transition: transform 0.3s ease-out;
  border-radius: 10px;
  box-shadow: 4px 3px 12px 0px rgba(55, 55, 55, 0.22);
  overflow: hidden;
  cursor: pointer;
}

.card h2 {
  font-family: var(--mainFont);
  color: white;
  text-align: center;
  font-size: 2.25rem;
  display: block;
  height: fit-content;
  text-wrap: wrap;
  padding: 10px 30px;
  border-radius: inherit;
  background-color: var(--blue);
}

@media (max-width: 800px) {
  .card {
    width: 50vw;
    height: 15vh;
  }
  .card h2 {
    font-size: 1rem;
  }
}

@media (max-width: 425px) {
  .card {
    width: 75vw;
    height: 13vh;
  }
}

.dialog {
  width: 80%;
  max-width: 500px;
  margin: auto;
  overflow-y: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  padding: 20px;
}

.dialog .content {
  max-height: 80vh;
  overflow-y: auto;
}

.dialog .buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .dialog {
    width: 90%;
    margin: 10px;
  }

  .dialog .content {
    max-height: 70vh;
  }

  .card {
    width: 90%;
    margin: 0 auto;
    padding: 15px;
  }
}
